.button09 {
    display: inline-block;
    background-color: #fff;
    border: solid 2px #0000ff;
    color: #0000ff;
    border-radius: 10px;
    padding: 50px 150px;
    text-decoration: none;
    font-size: 1em;     
    transition: all .3s ease 0s;
  } 
  .button09:hover {
    color: #0000ff;
    background-color: #fff;
    transform: scale(1.2);
  }
  p{
    background-color: rgb(255, 0, 0);
    color: white;
}
www{
    color:#ff0000
}

